{# templates/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}
	<a href="{{ path('app_superadmin_config') }}" class="float-right btn btn-secondary">
	<i data-feather="settings"></i>
		Configurer
	</a>
	{% block contenusuperadmin %}
	{% endblock %}
{% endblock %}

