{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}
  
  {{ form_rest(form) }}

  {{ form_end(form) }}
</div>