{# templates/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}
<!--MENU ETAPES -->

<h1>USER</h1>

On affiche ici le formulaire d'inscription aux ateliers uniquement si l'administrateur a validé le machin ET si il n'a pas déjà été rempli par l'utilisateur en question
{% endblock %}

