{# templates/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}
<!--MENU ETAPES -->
{% if utilisateur %}
<h1>{{ utilisateur.nom }} {{ utilisateur.prenom }} {{ utilisateur.classe }}</h1>
{% endif %}

{% if message %}
	<p class="alert alert-info">{{ message }}</p>
{% endif %}

{% endblock %}

