{# templates/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}

	<div class="text-center">
	    <h2>Forum santé</h2>
	    <p class="lead">
			Calcul des groupes
	    </p>
			   
	
	</div>
{% endblock %}