{# templates/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}

	<div class="text-center">
	    <h2>Forum santé</h2>
	    <p class="lead">
			Outil pour organiser les groupes du forum santé.

	    </p>
	
	
	    <form class="">
	    	<div class="row">
				<div class="col-md-9 mb-3">
				  <input type="file" class="custom-file-input" id="customFile">
				  <label class="custom-file-label" for="customFile">
					Charger le fichier CSV
				  </label>
				</div>
				
				<div class="col-md-3 mb-3">
					<button class="btn btn-primary col-md-12 mb-3" type="submit">Envoyer</button>
				</div>
			</div>
	    </form>
		

		<p class="alert alert-info">
		Téléchargez un exemple du fichier CSV : <a href="">Fichier CSV</a>
		</p>
	
	</div>
{% endblock %}