{# templates/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}

	<div class="text-center">
	    <h2>Forum santé</h2>
	    <p class="lead">
			Outil pour organiser les groupes du forum santé.

	    </p>
	
	
	    {# templates/product/new.html.twig #}
		<h1>Charger le CSV de Google</h1>

		{{ form_start(form) }}
		    {# ... #}

		    {{ form_row(form.document) }}
		{{ form_end(form) }}
		

		<p class="alert alert-info">
		Téléchargez un exemple du fichier CSV : <a href="">Fichier CSV</a>
		</p>
	
	</div>
{% endblock %}