{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
 	{% if app.user %}
 		{% include 'include/menu.html.twig' %}
	{% endif %}

    <div class="container" style="margin-top:60px">
		{% block contenu %}

		{% endblock %}
    </div>			
    

    <footer class="my-5 pt-5 text-muted text-center text-small bottom footer">
        <p class="mb-1">&copy; 2018-2019 Notre-Dame / Saint Sigisbert - Pierre-Philippe Fady</p>
    </footer>    

   
{% endblock %}