{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	{% if app.user %}
 		{% include 'include/menu.html.twig' %}
	{% endif %}

	<div class="container-fluid" style="margin-top:60px">

      	
  		{% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}
  		<div class="row">
  			{% include 'admin/menu.html.twig' %}
       		 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		{% endif %}
			
		{% block contenu %}

		{% endblock %}
   	 	
   	 	{% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}
			</div>
		</main>
		{% endif %}
    

		    <footer class="my-5 pt-5 text-muted text-center text-small bottom footer">
		        <p class="mb-1">&copy; 2018-2019 Notre-Dame / Saint Sigisbert - Pierre-Philippe Fady</p>
		    </footer>   
    </div>
</div> 

   
{% endblock %}