{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	{% if app.user %}
 		{% include 'include/menu.html.twig' %}
	{% endif %}

	<div class="container-fluid" style="margin-top:10px">
    	
      	
  		{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
  		<div class="row">
  			{% include 'admin/menu.html.twig' %}
       		 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		{% endif %}
			
			
		 	

		
		    {% if is_granted('ROLE_SUPER_ADMIN') %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				  <strong>Utilisateur</strong> 
				  mode super-administrateur
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			{% elseif is_granted('ROLE_ADMIN') %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				  <strong>Utilisateur</strong> 
				  mode administrateur
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			{% elseif is_granted('ROLE_USER') %}
			    <div class="alert alert-success alert-dismissible fade show" role="alert">
				  <strong>Utilisateur</strong> 
				  mode utilisateur
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			{% else %}
			    <div class="alert alert-info alert-dismissible fade show" role="alert">
				  <strong>Utilisateur</strong> 
				  mode anonyme
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			{% endif %}

			{% block contenu %}

			{% endblock %}
   	 	
   	 	{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
			</div>
		</main>
		{% endif %}
    

		    <footer class="my-5 pt-5 text-muted text-center text-small bottom footer">
		        <p class="mb-1">&copy; 2018-2019 Notre-Dame / Saint Sigisbert - Pierre-Philippe Fady</p>
		    </footer>   
    </div>
</div> 

   
{% endblock %}