{# templates/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}

	<div class="text-center">
	    <h2>Forum santé</h2>
	    <p class="lead">
			Résultats
	    </p>
	
		{{ retour }}
	
	</div>
{% endblock %}