{# templates/index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block contenu %}
<div class="jumbotron">
	<h1 class="display-4">Forum</h1>
  	<p class="lead">Outil d'aide à la mise en place du forum santé en 3ième.</p>
  
  	<hr class="my-4">

  	<p>Chaque année, pour utiliser cet outil, vous devez suivre les étapes suivantes : </p>
		<ol>
			<li>Initialisation <small>(Vider les résultats de l'année précedente)</small></li>
			<li>Paramétrage <small>(Eleves, Ateliers, Horaires, Salles, Intervenants)</small></li>
			<li>Inscriptions <small>(Ouverture du formulaire inscriptions)</small></li>
			<li>Finalisation <small>(Fermeture du formulaire inscriptions, calcul des groupes, distribution des convocations)</small></li>
		</ol>
</div>
{% endblock %}
