<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
    			<a class="nav-link" href="{{ path('app_admin_home') }}">
      				<i data-feather="home"></i>
      				Accueil
    			</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" href="{{ path('app_superadmin_etape1') }}">
      				<i data-feather="users"></i>
      				Comptes élèves (superadmin)
    			</a>
  			</li>
  			<li class="nav-item">
                <a class="nav-link" href="#">
                	<i data-feather="file"></i>
                  	Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i data-feather="shopping-cart"></i>
                  Products
                </a>
              </li>
  		</ul>
	</div>
</nav>