<h4>Fichier à transmettre au secrétariat</h4>
<a href="{{ path('app_resultats_csv_secretariat')}}" class="btn btn-success">Télécharger</a>

<br />
<div class="row">
{% for key, ligne in retour %}

	<div class="col-md-4">
	
		{% if key%3 == 0 %}
		<table class="table table-sm table-striped table-hover" style="margin-top:25px">
		  <thead>
		    <tr>
		      <th scope="col" class="col-md-8">Nom</th>
		      <th scope="col" class="col-md-2">Inscrits</th>
		    </tr>
		  </thead>
		  <tbody>

			{% endif %}
			<tr>
				<td scope="col">{{ ligne.nom_groupe }}</td>
				<td scope="col">{{ ligne.membres|length }}</td>

			{% if key%3 == 2 %}
			</tr>	
		    </tbody>
		  </table>
			{% endif %}
	</div>
{% endfor %}