{# templates/csv/lire.html.twig #}
{% extends 'layout.html.twig' %}

{% block contenu %}

	<div class="text-center">
	    <h2>Forum santé</h2>
	    <p class="lead">
			Outil pour organiser les groupes du forum santé
	    </p>
	
		Lire csv

		<hr />


        <table class="table">
		  <!--<thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">First</th>
		      <th scope="col">Last</th>
		      <th scope="col">Handle</th>
		    </tr>
		  </thead>
		-->
		  <tbody>
		  	{% for lignes in contenucsv %}
		    <tr>
		    	{% for ligne in lignes %}
		      	<td>{{ ligne }}</td>
		      	{% endfor %}
		    </tr>
		    {% endfor %}

		  </tbody>
		</table>


	
	</div>
{% endblock %}