{# templates/index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block contenu %}
<!--MENU ETAPES -->

<h2>Inscriptions</h2>

<br />

<p class="alert alert-info">
	<strong>Inscriptions</strong><br /><br />

</p>

{% endblock %}

