{# templates/index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block contenu %}
<!--MENU ETAPES -->

<h2>Inscriptions</h2>

<br />

<p class="alert alert-info">
	<strong>Inscriptions</strong><br /><br />
	Pendant les inscriptions, les élèves auront accès au site avec leurs identifiants 'E-Lorraine' et pourront saisir leur voeux.<br />
	Vous verrez sur cette page la progression des inscriptions.<br /><br />
	
	<strong>Attention : </strong><br />
	Vous ne pourrez plus modifier / ajouter / supprimer les ateliers une fois les isncriptions commencées !
	
	<br /><br />

	<a href='{{ path('app_admin_inscriptions_start') }}' class='btn btn-warning'>Commencer les inscriptions</a>


</p>

{% endblock %}

